---
import { type MediaType } from "@/types/member";
import Image from "./Image.svelte";
import Video from "./Video.svelte";

interface Props {
  header: string;
  media: string[];
  type: MediaType;
}

const { media, header, type } = Astro.props;
const { member } = Astro.params;
---

<div class="mb-8">
  <h3 class="my-2 text-2xl">{header}</h3>
  <hr class="text-white" />
  <div class="flex cursor-grab gap-2 overflow-x-scroll whitespace-nowrap py-4">
    {
      media.map(medium =>
        type === "video" ? (
          <Video client:load src={`${member}/${medium}`} />
        ) : (
          <Image client:load src={`${member}/${medium}`} />
        ),
      )
    }
  </div>
</div>
